language: android
jdk: oraclejdk8
sudo: false

env:
  global:
    - COMPILE_SDK_VERSION = 25
    - BUILD_TOOLS_VERSION = 25.0.2

android:
  components:
    - platform-tools
    - tools
    - build-tools-$BUILD_TOOLS_VERSION
    - android-$COMPILE_SDK_VERSION
    - extra-google-google_play_services
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository

  licenses:
    - android-sdk-license-.+
    - '.+'

  notifications:
    email: false

before_install:
  - chmod +x gradlew
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"

install:
  - echo yes | sdkmanager "extras;m2repository;com;google;maps;android;android-maps-utils;0.4.4"

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

script:
  - ./gradlew build connectedCheck